@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbb714;
}

.swiper-button-next,
.swiper-button-prev {
  color: #00000049;
}

.swiper-pagination-bullet-active {
  background-color: #ffd800;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero img {
    width: 100%;
    height: calc(100vh - 100px);
  }
}

footer {
  border-top: solid 1px rgba(0, 0, 0, 0.288);
  border-radius: 1%;
}

.loader {
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper-img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

@media (max-width: 768px) {
  .swiper-img {
    height: auto;
  }
}

@media (max-width: 1278px) and (min-width: 768px) {
  .swiper-img {
    height: calc(100vh - 390px);;
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fbb714;
  font-family: "Oswald", sans-serif;

}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}
